@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  background-image: url("../public/assets/test.jpg");
  background-repeat: no-repeat;
  /* -webkit-background-repeat: no-repeat; */
  background-size: cover;
  /* -webkit-background-size: cover; */
  background-position: bottom;
  /* -webkit-background-position: center; */
  background-attachment: fixed;
  /* -webkit-background-attachment: fixed; */
}

/* social media team hover */
.container:hover .overlay {
  opacity: 1;
}

/* second social media hover */
.main {
  position: relative;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.main:hover {
  opacity: 0.8;
}

.main:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* scrollbar for input */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc451;
  border-radius: 20px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fad07b;
}

.custom-textarea::placeholder {
  color: #444444; /* Adjust placeholder text color */
  font-weight: 300;
}

.custom-textarea {
  caret-color: #ffc451;
}
