@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1e213f;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
  background-image: url(../public/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slick-slide {
  max-width: 250px;
}

.slick-list {
  max-width: 550px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
